---
// Component Imports
import Layout from "../layouts/Layout.astro";
import Contador from "../components/Contador.astro";
import VotaYa from "../components/VotaYa.astro";
import Bienvenida from "../components/Bienvenida.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="San Marcos: Vota tu Estampa">
  <main>
    <Bienvenida />
    <VotaYa />
    <Contador />
  </main>
  <Footer />
</Layout>
